apipkg==1.5
asteval==0.9.1
click==7.1.1
coverage==3.7.1
DBUtils==1.1
execnet==1.7.1
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mock==1.0.1
numpy==1.12.1
nupic==1.0.5
nupic.bindings==1.0.6
ordereddict==1.1
prettytable==0.7.2
psutil==1.0.1
py==1.8.1
pycapnp==0.6.3
PyMySQL==0.6.2
pyproj==1.9.3
pytest==3.0.7
pytest-cov==2.5.0
pytest-xdist==1.16.0
python-dateutil==2.1
PyYAML==3.10
six==1.14.0
unittest2==0.5.1
validictory==0.9.1
Werkzeug==1.0.1
